body {
    font-family: Arial;
    background: #667eea;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: white;
}
/*fnkbgkbjt*/ 
.container {
    background: white;
    color: black;
    padding: 60px;
    border-radius: 15px;
    width: 500px;
    text-align: center;
}

/* Search */
.search-box {
    margin-bottom: 20px;
}

#cityInput {
    padding: 10px;
    width: 70%;
}

#searchBtn {
    padding: 10px;
    cursor: pointer;
}

#searchBtn:hover {
    background: #667eea;
    color: white;
}

/* Weather */
.weather-info img {
    width: 80px;
}

/* Error */
.error-message {
    background: #ffe5e5;
    color: red;
    padding: 10px;
    border-left: 5px solid red;
    border-radius: 5px;
}

/* Welcome */
.welcome-message {
    text-align: center;
}

/* Loading */
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Spinner */
.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #667eea;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Animation */
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}